.card {
    padding: 1rem;
  }
  

  
  .card:hover {
    background-color: var(--background-secondary);
  }
  
  .card a {
    color: inherit;
    text-decoration: inherit;
  }
  
  .card > a > div {
    display: flex;
    align-items: flex-start;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    /* border: 1px solid var(--border); */
    margin-right: .5rem;
  }
  
  .card h2 {
    font-size: 1em;
    margin-bottom: .5rem;
    letter-spacing: 0.2px;
    font-weight: 600;
  }
  
  .card h2 span {
    color: var(--text-secondary);
    font-weight: 400;
  }
  
  .card p:nth-of-type(1){
    margin: 0 0 .5rem;
    line-height: 1.3;
    font-size: inherit;
    letter-spacing: 0.2px;
    font-weight: 300;
  }
  
  .card p:nth-last-of-type(1){
    font-size: 0.85em;
    color: var(--text-secondary);
    font-weight: 500;
  }
  
  .impressions {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin: 0 -9px 0 35px;
  }
  
  .impressions svg {
    margin-right: .25rem;
  }
  
  .impressions a svg, .impressions button:nth-last-of-type(1) svg {
    margin-right: 0;
  }
  
  .impressions a {
    height: 21px;
  }
  
  .impressions button {
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 5px 6px 5px 5px;
    margin: 0 4px;
  }
  
  /* .impressions button:nth-last-of-type(1){
    font-size: 2em;
    letter-spacing: -1.5px;
  } */
  
  .impressions button:hover {
    background-color: var(--background-tertiary);
  }

  .biscuit-card {
    width: 300px; 
    height: auto;
    margin: 10px;
  }
  
  .biscuit-card-large {
    width: 80vw; 
    height: auto;
    margin: 20px;
    font-size: x-large;
  }


  .look {

    background-image: url(./eye.png);
    width: 40px;
    height: 40px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin:auto;
  }


  .back {

    background-image: url(./back.png);
    width: 40px;
    height: 40px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin:auto;
  }


  .pencil {

    background-image: url(./pencil.png);
    width: 40px;
    height: 40px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin:0px 60px 0px 400px;
  }

  .garbage {

    background-image: url(./garbage.png);
    width: 40px;
    height: 40px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin:0px 60px 0px 220px;
  }

  .pencil-garbage-wrapper
  {
    display:flex;
  }